/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.menu-btn {
  display: none;
  color: white;
  font-size: 2em;
}
.nav-links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }
  .menu-btn {
    display: block;
  }

  /* Make sure menu elements are not too close to each other. */
  .nav-links li {
    padding: 4px 0px;
  }
}

/********************
 * Submenu handling *
 ********************/
/* Menu abd submenu container */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Main menu elements */
.dropbtn {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content ul {
  padding: 0px 0px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #424242;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  background-color: #525252;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #424242;
}
